<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Height</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.birthday %></td>
    <td><%= person.gender %></td>
    <td><%= person.height %></td>
    <td><%= person.weight %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
