<section id="stats" data-person_id="<%= @person.id %>" class="clearfix">
    <h2><%= @person.name %></h2>
    <img class="avatar" src="<%= @person.avatar_url_or_fallback %>" alt="Martins avatar" />
    <div id="xp_meter" data-current_xp="<%= @person.xp %>" data-next_level_ratio="<%= @person.next_level_ratio%>">
        <div>XP: <%= @person.xp %>/<%= @person.xp_for_next %></div>
    </div>
    <p id="extra_life">Extraliv: <%= @person.level_to_string %> </p>
</section>
<section id="feats">
    <header>
        <h2><time><%= @date.to_s(:short) %></time></h2>
        <nav class="clearfix">
            <ul>
                <li class="previous"><a href="?date=<%= (@date - 1).to_s(:db) %>">&laquo; <time><%= (@date - 1).to_s(:short) %></time></a></li>
                <li class="next"><a href="?date=<%= (@date + 1).to_s(:db) %>"><time><%= (@date + 1).to_s(:short) %></time> &raquo;</a></li>
            <ul>
        </nav>
    </header>
    <ol>
        <% @feats.each do |feat| %>
            <li style="display:block;">
            <a class="feat<%= " completed" if feat.completed? %>" src="#" data-id="<%= feat.id %>" data-completed="<%= feat.completed %>" ><%= feat.activity.title %></a><span class="streak" ><%= @person.calculate_streak feat %></span>
            </li>
        <% end %>
    </ol>
    <p id="new"><%= link_to('Lägg till ny', new_person_feat_path(@person)) %></p>
</section>
