<h1>Listing feats</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Activity</th>
    <th>Xp</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feats.each do |feat| %>
  <tr>
    <td><%= feat.person_id %></td>
    <td><%= feat.activity_id %></td>
    <td><%= feat.xp %></td>
    <td><%= feat.completed ? "[X]": "[ ]" %></td>
    <td><%= link_to 'Show', person_feat_path(@person, feat) %></td>
    <td><%= link_to 'Edit', edit_person_feat_path(@person, feat) %></td>
    <td><%= link_to 'Destroy', person_feat_path(@person, feat), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feat', new_person_feat_path(@person) %>
