<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @feat.person_id %>
</p>

<p>
  <b>Activity:</b>
  <%= @feat.activity_id %>
</p>

<p>
  <b>Xp:</b>
  <%= @feat.xp %>
</p>

<p>
  <b>Completed:</b>
  <%= @feat.completed ? "true" : "false" %>
</p>

<%= link_to 'Edit', edit_person_feat_path(@person, @feat) %> |
<%= link_to 'Back', person_feats_path(@person) %>
