<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @feat.person_id %>
</p>

<p>
  <b>Activity:</b>
  <%= @feat.activity_id %>
</p>

<p>
  <b>Xp:</b>
  <%= @feat.xp %>
</p>


<%= link_to 'Edit', edit_feat_path(@feat) %> |
<%= link_to 'Back', feats_path %>
